body {
  margin: 0;
  text-align: center;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: Sacramento;
  font-size: 90px;
  color: #66BFBF;
  line-height: 1;
}
h2 {
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}
h3 {
  color: #11999E;
}

a {
  color: #11999E;
}
hr {
  border-top: 7px dotted #a3a3a3;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 7%
}

@font-face {
  font-family: Sacramento;
  src: url(./../../../font/Sacramento.ttf);
}

.animation {
  transition-duration: 1000ms;
}

.animation:hover{
  opacity: 0;
  transition-duration: 1000ms;
}
 .skill_image1{
   max-width: 125px;
   max-height: 125px;
   float: left;
   margin-right: 30px;
 }

 .skill_image2{
   max-width: 125px;
   max-height: 125px;
   float: right;
   margin-left: 30px;
 }

.intro{
  width: 30%;
}
.profile-pic {
  border-radius: 100%;
}
.skill-row {
  width: 40%;
  margin: 0px auto 100px auto;
  text-align: left;
  line-height: 1.7;
}


.top-container{
  background-color: #E4F9F5;
  padding-top: 50px;
  position: relative;
}

.middle-container{
  background-color: white;
  padding-top: 50px;
  position: relative;
}

.bottom-container{
  background-color: #E4F9F5;
  padding-top: 50px;
  position: relative;
  margin-bottom: 0;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}
.bot-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.underline{
  text-decoration: underline;
}
